.button_form {
  padding: 5px;
  background-color: transparent;
  color: #ff6b08;
  border: none;
  font-size: 12px;
  transition: 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  cursor: pointer;

  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
  &:hover .button-icon,
  &:focus .button-icon {
    fill: #ff6b08;
    border: none;
  }
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  width: 17px;
  height: 17px;
  transition: 250ms cubic-bezier(0.47, 0, 0.745, 0.71);
}
.registration {
  max-width: 30px;
  display: flex;
  margin: 0;
  margin-right: 0px;
}
//Firebase
.sign-img {
  width: 30px;
  position: fixed;
  right: 10%;
}

#logoutBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all linear 300ms;
}

.login-form__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all linear 300ms;
  overflow: scroll;
  z-index: 9999;
  transform: scale(1);
}

.login-form__wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 525px;
  min-height: 600px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  @media screen and (max-width: 767px) {
    top: 0;
    transform: none;
    //min-height: 100px;
    max-width: 767px;
  }
}

.login-form__html {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  padding: 90px 70px 0px 70px;
  background: black;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  opacity: 1;
  @media screen and (max-width: 767px) {
    padding: 50px 15px 0px 15px;
  }
}

.login-form__signin-group,
.login-form__signup-group {
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.5s linear;
}
.login-form__signin,
.login-form__signup {
  display: none;
}
.login-form__tab,
.login-form_label,
.login-form_button {
  text-transform: uppercase;
}
.login-form__tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  color: white;
  border-bottom: 2px solid transparent;
  transition: color 200ms linear, border-bottom 200ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #ff6b08;
  }
}
.login-form__signin:checked + .login-form__tab,
.login-form__signup:checked + .login-form__tab {
  color: #ff6b08;
  border-color: #ff6b08;
}
.login-form {
  min-height: 320px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
//.login-form__field {
//margin-bottom: 15px;
//}
.login-form_label,
.login-form_input,
.login-form_button {
  width: 100%;
  color: white;
  display: block;
}
.login-form_input {
  border: #ff6b08 1px solid;
  padding: 15px 20px;
  border-radius: 5px;
  background: black;
  margin-bottom: 20px;
  background-color: #0f0f0f;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  &:invalid:not(:placeholder-shown) {
    border-color: grey;
  }
}

.login-form_label {
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
}
.login-form_button {
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #0f0f0f;
  color: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 200ms linear, color 200ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    //background-color: white;
    color: #ff6b08;
    box-shadow: 0 0 6px white;
  }
}

.login-form__signin:checked
  + .login-form__tab
  + .login-form__signup
  + .login-form__tab
  + .login-form
  .login-form__signin-group {
  transform: rotate(0);
}
.login-form__signup:checked
  + .login-form__tab
  + .login-form
  .login-form__signup-group {
  transform: rotate(0);
}
.login-form__foot-lnk {
  text-align: center;
  padding-top: 15px;
  font-size: 12px;
}

.login-form__foot-lnk label {
  color: white;
  transition: color 200ms linear;
  &:hover,
  &:focus {
    color: #ff6b08;
    cursor: pointer;
  }
}

.forgot-password {
  color: #ff6b08;
  text-decoration: none;
  transition: color 200ms linear, text-decoration 200ms linear;
  &:hover,
  &:focus {
    color: white;
  }
}

.login-form__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-image: url('../images/icon-close-login-form.svg');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transition: background-color linear 300ms;
  &:hover,
  &:focus {
    background-color: #ff6b08;
    border-radius: 50%;
    background-image: url('../images/icon-close-login-form-black.svg');
  }
}

.login-form__error-message {
  display: block;
  position: absolute;
  width: 70%;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  //padding-top: 15px;
  //padding-bottom: 15px;
  border-radius: 5px;
  //background-color: black;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  transition: opacity linear 200ms;
}

.login-form__welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  color: #ff6b08;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  padding-bottom: 30px;
  margin: 0;
}

.login-form__social-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 0;
}

.login-form__google-btn {
  width: 184px;
  height: 42px;
  background-color: #0f0f0f;
  border-color: #ff6b08;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 6px white;
  }
  &:active {
    background: accent;
  }
}

.login-form__google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: transparent;
}

.login-form__google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.login-form__btn-text {
  position: absolute;
  margin-top: 13px;
  margin-left: 45px;
  color: #ff6b08;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.firebaseui-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 525px !important;
  height: 600px;
}
